*{
    margin: 0;
    padding: 0;
}   
.headtext-manu{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.headtext-manu img{
    width: 28px;
    height: 28px;
    color: black;
}
.headtext-manu a{
    text-decoration: none;
    font-size: inherit;
    font-family: Roboto,sans-serif;
    color: #000;
    letter-spacing: 2px;  
}
#hero{
    background:  linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../image/01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    position: relative;
    padding-top: 20px
}
.hero-text {
    width: 350px;
	right: 15%;
    top: 23%;
	position: absolute;
	text-align: right;
    margin-top: 30px;
}
.hero-text h1{
    font-family: Roboto,sans-serif;
    font-size: 5rem;
    font-weight: 700px;
    color: #fff;
    word-wrap: break-word;
}
.hero-text p{
    font-family: 'Open Sans',sans-serif;
    line-height: 19px;
    font-size: 14px;
    color: #fff;
}

 @media screen and (max-width:300px) {
    .hero-text {
        text-align: start !important;
        margin: 0 37px !important;
        width: 248px !important;
        margin-top: -50px !important;
    }
    .hero-text h1 {
        font-size: 2.7rem !important;
    }
    .hero-text p {
        line-height: 18px !important;
        margin-top: 10px;
    }
    #hero{
        height: 290px;
    }
}   


@media screen and (max-width:576px) {
    .hero-text {
        text-align: end;
        width: 300px;
        right: 3% ;
    }
    .hero-text h1{
        font-size: 3.7rem;
    }
    .hero-text p{
        font-weight: 100;
        line-height: 22px;
    }
}
@media screen and (max-width:768px) {
    .hero-text{
        text-align: end;
        right: 3%;
    }
    .hero-text h1{
        font-size: 3.7rem;
    }
    .hero-text p{
        line-height: 19px;
        font-size: 13px;
    }
}


/* first section end */

/* second section start */

#images {
    background-color: #34421E;
    height: 340px;
}
.imge{
    display: flex;
	justify-content: center;
	gap: 10px;
    padding-top: 47px;
}
.first-img img{
    width: 300px;
    height: 250px;
}
.second-img img{
    width: 300px;
    height: 250px;
}
.third-img img{
    width: 300px;
    height: 250px;
}


@media screen and (max-width:300px) {
    .imge{
        flex-wrap: wrap;
    }
    #images{
        height: 850px;
    }
    .first-img img{
        width: 100%;
    }
    .second-img img{
        width: 100%;
    }
    .third-img img{
        width: 100%;
    }
}